* {
    box-sizing: border-box;
}

body {
    background-color: #777777;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
}

navbar {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    height: 60px;
    background-color: #7dd87d;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid black;
}

navbar ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

navbar ul li {
    padding: 0 20px;
}

#navbarTextLeft {
    position: absolute;
    left: 0;
    border: 1px solid black;
    margin: 0 40px;
    font-size: 18px;
    padding: 5px;
    align-self: center;
    background: #e8e8e8;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
    width: 100vw;
}

.column {
    background-color: white;
    height: 100vh;
    width: 33.3vw;
    transform: rotate(-7deg);
}

.box {
    height: 33.3%;
    width: 33.3vw;
    border: 30px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

p {
    padding: 0 15px;
}

img {
    height: 100%;
    width: 100%;
}

.top {
    border-bottom: 15px solid black;
}

.middle {
    border-top: 15px solid black;
    border-bottom: 15px solid black;
}

.bottom {
    border-top: 15px solid black;
}

.left .top {
    border-right: 15px solid black;
    background-color: #c5c5c5;
}

.left .middle {
    border-right: 15px solid black;
    background-color: #d1d1d1;
}

.left .bottom {
    border-right: 15px solid black;
    background-color: #e8e8e8;
}

.center .top {
    border-left: 15px solid black;
    border-right: 15px solid black;
    background: linear-gradient(white, gray);
}

.center .middle {
    border-left: 15px solid black;
    border-right: 15px solid black;
    background-color: white;
    height: 50%;
    text-align: center;
}

.center .bottom {
    border-left: 15px solid black;
    border-right: 15px solid black;
    background: linear-gradient(gray, white);
}

.right .top {
    border-left: 15px solid black;
    background-color: #e8e8e8;
}

.right .middle {
    border-left: 15px solid black;
    background-color: #dcdcdc;
}

.right .bottom {
    border-left: 15px solid black;
    background-color: #f3f3f3;
}

#bookTitle {
    font-size: 50px;
    color: black;
    margin-bottom: -20px;
}

#subTitle {
    font-size: 30px;
    color: gray;
    margin-top: -30px;
}

.bottomCenterBox {
    display: flex;
    justify-content: center;
    align-content: flex-start;
}

.topCenterBox {
    display: flex;
    justify-content: center;
    align-content: flex-end;
}

h2 {
    margin-bottom: 0;
    text-align: center;
}
.chapter-page {
    width: 100%;
    background-color: #e8e8e8;
}

.chapter-text {
    background-color: #dcdcdc;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    width: 80ch;
    margin: 75px auto;
    padding: 20px;
    font-size: 18px;
    line-height: 22px;
    border: 30px solid black;
}

blockquote, p {
    width: 100%;
}

blockquote {
    padding: 0;
}

.moreLink {
    padding: 15px;
}

#indexMain {
    margin-top: 30px;
    overflow: hidden;
}